{% extends "layouts/default.html" %}

{% block bodyclass %} class="home-template" {% endblock %}

{% block content %}

<div class="index-divider">
  <h1>Blog</h1>
</div>
{% for article in articles_page.object_list %}
<article class="post">
    <div>
        <header class="post-header">
            <span class="post-meta">
                <time datetime="{{ article.date.isoformat() }}">{{ article.date|blog_date_format }}</time>
            </span>
            <h2 class="post-title">
                <a href="{{ SITEURL + '/' + article.url }}">{{ article.title }}</a>
            </h2>
        </header>
        <section class="post-excerpt"><p>{{ article.description | default_description + article.summary }}</p></section>
        <a class="button read-more right small" href="{{ SITEURL + '/' + article.url }}">Read More</a>
        <aside class="tags fi-pricetag-multiple">
            {{ article.tags|join(", ") }}
        </aside>
        <div class="clearfix"></div>
    </div>
</article>
{% endfor %}
{% include "partials/pagination.html" %}
{% endblock %}
