{% extends "layouts/default.html" %}

{% block title %}{{ page.title }}{% endblock %}
{% block metadescription %}{{ page.description|e }}{% endblock %}
{% block bodyclass %} class="post-template" {% endblock %}

{% block content %}
<div style="display: flex; flex-wrap: wrap; align-items: flex-start;">
    <article class="post tag-bonnes-pratiques tag-tah" style="width:65%">
        <h1 class="post-title">{{ page.title }}</h1>
        <section class="post-content {{ page.link_target }}">{{ page.content }}</content>
        <hr>
    </article>
    <article style="width:34%; margin-left:10px" class="float-box">
        <h2>News</h2>
        {{ '' | news }}
    </article>
</div>
{% endblock %}
