<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="description" content="{% block metadescription %}Pedro Rodriguez: read my blog or see my resume/cv{% endblock %}">
        <script type="text/javascript">
            var host = "{{ HOST }}";
            if ((host == window.location.host) && (window.location.protocol != "https:")) {
                window.location.protocol = "https";
            }
        </script>
        <link rel="canonical" href="{{ SITEURL }}" />

        {% assets filters="cssmin", output="css/theme.css", "css/pygments.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,700,400|Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic" />
        {% if GOOGLE_ANALYTICS %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-38529872-3', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </head>
  <body {% block bodyclass %}{% endblock %}>
    <div class="row">
        <div class="small-16 medium-16 large-4 columns right head-area bgimage" style="background-image: url({{ SITEURL }}/theme/images/side-background.jpg)">
            {% include "partials/header.html" %}
        </div>
        <div class="small-16 medium-16 large-12 columns main-column left">
            <main class="content" role="main">
                {% block content %}
                {% endblock %}
                {% include "partials/footer.html" %}
            </main>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.blank-target a').attr('target', '_blank');
        });
    </script>
  </body>
</html>
