<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="description" content="{% block metadescription %}Pedro Rodriguez: Research Scientist in Natural Language Processing{% endblock %}">
        <script type="text/javascript">
            var host = "{{ HOST }}";
            if ((host == window.location.host) && (window.location.protocol != "https:")) {
                window.location.protocol = "https";
            }
        </script>
        <link rel="canonical" href="{{ SITEURL }}" />
        <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
        {% assets filters="cssmin", output="css/theme.css", "css/pygments.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        {% assets filters="cssmin", output="css/lightbox.css", "css/lightbox.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
    </head>
  <body {% block bodyclass %}{% endblock %}>
    <div class="row" style="min-width:640px">
        <div class="small-16 medium-16 large-16 columns head-area bgimage" style="background-image: url({{ SITEURL }}/theme/images/side-background.jpg)">
            {% include "partials/header.html" %}
        </div>
        <div class="small-16 medium-16 large-16 columns main-column">
            <main class="content" role="main">
                {% block content %}
                {% endblock %}
                {% include "partials/footer.html" %}
            </main>
        </div>
    </div>
    {% assets filters="uglifyjs", output="js/uglify.jquery.min.js", "js/jquery.min.js", "js/targets.js", "js/lightbox.js" %}
    <script src="{{ SITEURL  }}/{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
