<header class="site-head">
    <div class="vertical">
        <div class="site-head-content inner">
            <h1 class="blog-title">Pedro Rodriguez</h1>
            <hr>
            <p class="blog-description">PhD Candidate in Artificial Intelligence, Machine Learning, and Natural Language Processing</p>
            <ul class="side-nav blog-menu">
                <li><a href="{{ SITEURL }}">Home</a></li>
                <li><a href="{{ SITEURL }}/about/">About</a></li>
                <li><a href="{{ SITEURL }}/publications/">Publications</a></li>
            </ul>
            <div class="blog-network">
                <a href="https://github.com/EntilZha" class="fi-social-github"></a>
                <a href="https://www.linkedin.com/in/pedrorodriguezscience" class="fi-social-linkedin"></a>
                <a href="https://twitter.com/EntilZhaPR" class="fi-social-twitter"></a>
                <a href="https://scholar.google.com/citations?user=JjpA4qwAAAAJ&hl=en" class="fi-social-google-scholar"></a>
            </div>
        </div>
    </div>
</header>

