<header class="site-head">
    <div class="vertical">
        <div class="site-head-content inner" style="min-height: 200px; padding-top: 30px">
            <div style="margin: 0 auto; height: 100%;">
                <div class="header-profile"></div>
                <div class="header-container">
                    <h1 class="blog-title"><a href="{{ SITEURL }}" style="color: white;">Pedro Rodriguez</a></h1>
                    <hr>
                    <p class="blog-description">Research Scientist in Natural Language Processing</p>
                    <div>
                        <div style="float:left; vertical-align: top; width: 450px; height: 50px;">
                            <ul class="side-nav blog-menu">
                                <li><a href="{{ SITEURL }}">About</a></li>
                                <li><a href="{{ SITEURL }}/blog/">Blog</a></li>
                                <li><a href="{{ SITEURL }}/publications/">Pubs</a></li>
                                <li><a href="{{ SITEURL }}/tips/">Tips</a></li>
                            </ul>
                        </div>
                        <div style="float: right; vertical-align: top; height: 50px; width:175px;">
                            <div class="blog-network">
                                <a href="https://github.com/EntilZha" class="fi-social-github"></a>
                                <a href="https://www.linkedin.com/in/pedrorodriguezscience" class="fi-social-linkedin"></a>
                                <a href="https://twitter.com/EntilZhaPR" class="fi-social-twitter"></a>
                                <a href="https://www.semanticscholar.org/author/145009056" class="fi-social-google-scholar"></a>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

