<header class="site-head">
    <div class="vertical">
        <div class="site-head-content inner">
            <ul class="side-nav blog-menu">
                <li><a href="{{ SITEURL }}">Home</a></li>
                <li><a href="{{ SITEURL }}/about/">About/CV</a></li>
                <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01iYFIl6B3xzrbv6mhk01WIg==&amp;c=TFGKPerMUv6Dii-GSIiMH3X313P2NMr77LxRq75UYHc=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501iYFIl6B3xzrbv6mhk01WIg\75\75\46c\75TFGKPerMUv6Dii-GSIiMH3X313P2NMr77LxRq75UYHc\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Contact</a></li>
                <li><a href="{{ SITEURL }}/resources/">Resources</a></li>
            </ul>
            <a class="blog-logo" href="http://pedrorodriguez.io"><img alt="Pedro Rodriguez" src="{{ SITEURL }}/theme/images/profile.jpg" alt="Site Logo" /></a>
            <h1 class="blog-title">Pedro Rodriguez</h1>
            <hr>
            <p class="blog-description">PhD Candidate in Artificial Intelligence, Research Scientist, Data Scientist, Snow Geek</p>
            <h4 style="top:5px;color:white">Recent News</h4>
            <div class="post" style="border-bottom: 0; padding: 5px; text-align:left;background:#333;color:white">
              <ul>
                <li>Summer 2018 intern at Microsoft Research in <a target="_blank" href="https://www.microsoft.com/en-us/research/group/information-and-data-sciences/">Information and Data Sciences Group</a></li>
                <li>Riot Games data science internship <a href="https://youtu.be/jsRVA-HXZQc">video</a></li>
              </ul>
            </div>
            <div class="blog-network">
                <a href="https://github.com/EntilZha" class="fi-social-github"></a>
                <a href="https://www.linkedin.com/in/pedrorodriguezscience" class="fi-social-linkedin"></a>
                <a href="https://twitter.com/EntilZhaPR" class="fi-social-twitter"></a>
                <a href="https://scholar.google.com/citations?user=JjpA4qwAAAAJ&hl=en" class="fi-social-google-scholar"></a>
            </div>
        </div>
    </div>
</header>

