<section>
      <p>
      I am a 4th year PhD candidate in <a href="https://www.cs.umd.edu/" target="_blank">Computer Science</a> at the <a href="http://www.umd.edu/" target="_blank">University of Maryland at College Park</a>.
      I work on Machine Learning and Natural Language Processing with <a href="http://www.umiacs.umd.edu/~jbg/" target="_blank">Jordan Boyd-Graber</a>,
      and others in the <a href="https://wiki.umiacs.umd.edu/clip/index.php/Main_Page" target="_blank">CLIP lab</a>.
      I am interested in knowledge grounded natural language understanding, question answering, few-shot learning, domain adaptation, and interpretability.
      I led the development of an AI that <a href="https://www.youtube.com/watch?v=bYFqMINXayc" target="_blank">defeated some of the best Quiz Bowl players in the world.</a>
      Visit <a href="http://qanta.org" target="_blank">qanta.org</a> to learn more about our datasets, systems, and research.
      </p>
      <p>
        This summer (2019) I will be a research intern at <a href="https://research.fb.com/category/facebook-ai-research/">Facebook AI Research</a>.
        I have worked as a research scientist or data scientist at <a href="https://www.microsoft.com/en-us/research/group/information-and-data-sciences/">Microsoft Research - Information and Data Science Group</a>,
        <a href="https://youtu.be/jsRVA-HXZQc">Riot Games</a>, <a href="https://www.trulia.com/about/careers/">Zillow Group at Trulia</a>, <a href="https://cloud.oracle.com/data-cloud">Oracle Datalogix</a>,
        <a href="https://amplab.cs.berkeley.edu/">UC Berkeley's AMPLab</a>, <a href="https://sites.google.com/site/cftdinfo/">UC Berkeley's Astronomy Department</a>,
        and <a href="https://earth.boisestate.edu/cryogars/">Boise State University's Cryosphere Group</a>. I was the team captain and a founding member of the <a href="http://codata.colorado.edu">Colorado Data Science Team</a>.
        I earned my Bachelor's Degree in Computer Science from the <a href="https://eecs.berkeley.edu/" target="_blank">University of California at Berkeley</a> in December 2014.
      </p>
      <p>
        In my free time I am an avid <a href="static/gallery/ski.jpg" data-lightbox="outdoors">skier</a>,
        <a href="static/gallery/climb.jpg" data-lightbox="outdoors">climber</a>, and
        <a href="static/gallery/hike.jpg" data-lightbox="outdoors">hiker</a>. I am a professional member of the <a href="https://www.americanavalancheassociation.org/" target="_blank">American Avalanche Association</a>,
        and member of the <a href="https://nsp.org" target="_blank">National Ski Patrol</a>.
      </p>
    </section>