<section>
  <p>
  I am a 4th year PhD candidate in <a href="https://www.cs.umd.edu/" target="_blank">Computer Science</a> at the <a href="http://www.umd.edu/" target="_blank">University of Maryland at College Park</a>.
  I work on Machine Learning and Natural Language Processing with <a href="http://www.umiacs.umd.edu/~jbg/" target="_blank">Jordan Boyd-Graber</a>,
  and others in the <a href="https://wiki.umiacs.umd.edu/clip/index.php/Main_Page" target="_blank">CLIP lab</a>.
  I am interested in knowledge grounded natural language understanding, question answering, few-shot learning, domain adaptation, and interpretability.
  I led the development of an AI that <a href="https://www.youtube.com/watch?v=bYFqMINXayc" target="_blank">defeated some of the best Quiz Bowl players in the world.</a>
  Visit <a href="http://qanta.org" target="_blank">qanta.org</a> to learn more about our datasets, systems, and research.
  </p>
  <p>
    This summer (2019) I am a research intern at <a href="https://research.fb.com/category/facebook-ai-research/" target="_blank">Facebook AI Research</a>
    and was a research intern at <a href="https://www.microsoft.com/en-us/research/group/information-and-data-sciences/" target="_blank">Microsoft Research - Information and Data Science Group</a> Summer 2018.
    I was a data scientist at <a href="https://www.trulia.com/about/careers/" target="_blank">Zillow Group at Trulia</a> (full time), <a href="https://youtu.be/jsRVA-HXZQc">Riot Games</a> (intern), <a href="https://cloud.oracle.com/data-cloud" target="_blank">Oracle Datalogix</a> (intern).
    I did summer research at <a href="https://amplab.cs.berkeley.edu/">UC Berkeley's AMPLab</a>, <a href="https://sites.google.com/site/cftdinfo/">UC Berkeley's Astronomy Department</a>,
    and <a href="https://earth.boisestate.edu/cryogars/">Boise State University's Cryosphere Group</a>. I was the team captain and a founding member of the <a href="http://codata.colorado.edu">Colorado Data Science Team</a>.
    I earned my Bachelor's Degree in Computer Science from the <a href="https://eecs.berkeley.edu/" target="_blank">University of California at Berkeley</a> in December 2014.
    I am a professional member of the <a href="https://www.americanavalancheassociation.org/" target="_blank">American Avalanche Association</a>,
    and member of the <a href="https://nsp.org" target="_blank">National Ski Patrol</a>.
  </p>
  <p>
  </p>
</section>