<header class="site-head">
    <div class="vertical">
        <div class="site-head-content inner">
            <ul class="side-nav blog-menu">
                <li><a href="{{ SITEURL }}">Home</a></li>
                <li><a href="{{ SITEURL + "/" "resume.html" }}">Resume</a></li>
                <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01iYFIl6B3xzrbv6mhk01WIg==&amp;c=TFGKPerMUv6Dii-GSIiMH3X313P2NMr77LxRq75UYHc=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501iYFIl6B3xzrbv6mhk01WIg\75\75\46c\75TFGKPerMUv6Dii-GSIiMH3X313P2NMr77LxRq75UYHc\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Contact</a></li>
            </ul>
            <a class="blog-logo" href="http://pedrorodriguez.io"><img alt="Pedro Rodriguez" src="http://pedrorodriguez.io/content/images/2015/Mar/IMG_0611.JPG" alt="Site Logo" /></a>
            <h1 class="blog-title">Pedro Rodriguez</h1>
            <hr>
            <p class="blog-description">Website with Blog, Resume, and CV by Pedro Rodriguez</p>
            <div class="blog-network">
                <a href="https://github.com/EntilZha" class="fi-social-github"></a>
                <a href="https://www.linkedin.com/in/pedrorodriguezscience" class="fi-social-linkedin"></a>
                <a href="https://plus.google.com/+PedroRodriguezPR/posts" class="fi-social-google-plus"></a>
                <a href="https://twitter.com/EntilZhaPR" class="fi-social-twitter"></a>
                <a href="#" class="fi-rss"></a>
            </div>
        </div>
    </div>
</header>
